.item {
    /* margin-top: 30px; */
    margin-right: 20px;
    color: #000;
}

.profile .cards {
    flex-wrap: wrap;
}
 .cards {
    width:235px;
    background-color: #fff;
    box-sizing: border-box;
}
.item .profile {
    float: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.cards {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
}

.image_content {
    height: 235px;
}
.image_content {
    width: 235px;
    margin: 0;
}
div.item.profile div.image_content {
    overflow: visible;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}
.image_content {
    overflow: hidden;}

.image_content img {
        border-radius: 0;
        width: 235px;
        height: 235px;
    }
    
   .image_content img {
        display: block;
        border-radius: 4px;
    }

    

div.results.flex div.item.profile.cards div.meta {
    padding: 8px 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.meta .name{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 1.1em;
    margin: 0 !important;
}
.meta .sub{
    font-weight: 300;
    font-size: 1em;
   margin-top: -10px;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;

}